body{
    background-color: #fafafa;
    background-image: url(https://i.pinimg.com/originals/59/40/a2/5940a279a83c46edf95e5ceb729eb855.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.left{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 20px;
    position:static;
}

/*.right{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 20px;
    position: static;
}*/

.middle{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 2;
}

.diag{
    background-color: #4582b1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.drive{
    background-color: #1c3355;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.noises{
    background-color: #b0292d;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.misc{
    background-color: #d2d2da;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.email{
    color: black;
    background-color: #ffffffe3;
}

.tab{
    background-color: #d2d2da;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.pane{
    font: bold;
    font-size: medium;
}