body{
    background-color: #757575;
}

.left{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 20px;
    position:static;
}

.right{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 20px;
    position:static;
}

.middle{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.diag{
    background-color: #350777;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.drive{
    background-color: #350777;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.noises{
    background-color: #350777;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}

.misc{
    background-color: #350777;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width:250px;
    border-radius: 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1px;
}