{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s3">
        <div class="left">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et
            accumsan et iusto odio dignissim qui blandit praesent luptatum
            zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
        </div>
        <div class="left">
            Nam liber tempor cum soluta nobis eleifend option congue
            nihil imperdiet doming id quod mazim placerat facer possim
            assum. Typi non habent claritatem insitam; est usus legentis
            in iis qui facit eorum claritatem. Investigationes
            demonstraverunt lectores legere me lius quod ii legunt saepius.
            Claritas est etiam processus dynamicus, qui sequitur mutationem
            consuetudium lectorum. Mirum est notare quam littera gothica,
            quam nunc putamus parum claram, anteposuerit litterarum formas
            humanitatis per seacula quarta decima et quinta decima. Eodem
            modo typi, qui nunc nobis videntur parum clari, fiant sollemnes
            in futurum.
        </div>
    </div>
    <div class="col s6"> 
        <ul class="collapsible" data-collapsible="accordion">
            {% for task in tasks %}
                <li>
                        <div class="collapsible-header">
                            <div class="col s3">
                            <i class="material-icons">expand_more</i>
                            </div>
                            <div class="col s9">
                                <strong>{{task.title}}</strong>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            
                            <span>
                                {{task.desc_of_problem}}
                            </span>
                            
                            <div>
                                <a href="{{url_for('get_tasks', task_id=task._id)}}" class="waves-effect waves-light btn btn_small">Done</a>
                                <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                            </div>    
                            
                        </div>
                    </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s3">
        <h3>Test column</h3>
        <div class="diag">
            
        </div>
        <div class="drive">
            
        </div>
        <div class="noises">
            
        </div>
        <div class="misc">
            
        </div>
        <div class="right">
            <form action="{{ url_for('insert_task') }}" method="POST"  class="col s12">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">poll</i>
                            <select id="category" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                        {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endfor %}
                        </select>
                        <label>Task Category</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="task_name" name="task_name" type="text">
                        <label for="icon_prefix">Task Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Task Description</label>
                    </div>
                </div>
                <div class="row">
                    <div id="matfix" class="input-field col s12">
                        <i class="material-icons prefix">today</i>
                        <input id="due_date" name="due_date" type="text" class="datepicker">
                        <label for="icon_prefix">Due Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="switch">
                        <label>
                          <input id="is_urgent" name="is_urgent" type="checkbox">
                          <span class="lever"></span>
                          Is Urgent
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                        <i class="material-icons right">playlist_add</i>
                     </button>
                </div>
            </form>
        </div>
    </div>

</div>    

{% endblock %}
