{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m3 l3">
        <div class="left">
            <h4>Welcome to E9XIssues!</h4>
            <p class="shop">
                Have a question? Looking for some help? Or are you the type who likes helping and sharing your hard earned knowledge?
            </p>
            <p class= "shop">
                Well, we got you covered:<br>
	            Ask<br>
	            Update<br>
	            Delete<br>
            </p>
            <p class="shop">
                We were tired of spending all that money on diagnosis and just small questions too. So we decided why not just open up the world to help each other? Our global community of fellow E9X aficionados is here. Reach out and be that helping hand or other point of view that just might make a difference. Help us to grow and continue to make this community as helpful and powerful as we know it can be!!
            </p>
        </div>    
        <div class="left">
            <h4>Figured it out?</h4>
            <p class="shop">
                Figured out what’s wrong? Need parts? Click <a href="{{url_for('shop')}}">here</a> for a link to some of our trusted vendors!!
            </p>
        </div>
    </div>
    
    <div class="col s12 m6 l6 middle email"> 
        <ul class="collapsible" data-collapsible="accordion">
            {% for task in tasks %}
                <li>
                    <div class="collapsible-header">
                        <div class="col s3">
                        <i class="material-icons">expand_more</i>
                        </div>
                        <div class="col s9">
                            <strong>{{task.topic}}</strong>
                        </div>
                    </div>
                    <div class="collapsible-body">
                            
                        <span>
                            <ul class="pane">
                            <li>Title: {{task.title}}</li>
                            <li>Description: {{task.desc_of_problem}}</li>
                            <li>Work Performed: {{task.work_performed}}</li>
                            <li>Fixed: {{task.fixed}}</li>
                            <li>Need Help? {{task.need_help}}</li>
                            </ul>
                        </span>
                            
                        <div>
                            <a href="{{url_for('get_tasks', task_id=task._id)}}" class="waves-effect waves-light btn btn_small grey">Done</a>
                            <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                            <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
                        </div>    
                        
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="col s12 m3 l3 right">
        <div class="center">
            <div>
                <button class="diag">DIAGNOSTIC</button>
            </div>
            <div>
                <button class="drive">DRIVE</button>
            </div>
            <div>
                <button class="noises">NOISES</button>
            </div>
            <div>
                <button class="misc">MISC</button>
            </div>
        </div>
        <div class="center">
            <form action="{{ url_for('insert_task') }}" method="POST"  class="col s12">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">poll</i>
                            <select id="category" name="topic">
                        <option value="">Choose Category</option>
                        {% for cat in categories %}
                            <option value="{{cat.topic}}">{{cat.topic}}</option>
                        {% endfor %}
                        </select>
                        <label>Category</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="task_name" name="task_name" type="text">
                        <label for="icon_prefix">Topic Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Work Performed</label>
                    </div>
                </div>
                <div class="row">
                    <div class="switch">
                        <label>
                          <input id="is_urgent" name="is_urgent" type="checkbox">
                          <span class="lever"></span>
                          Fixed
                        </label>
                    </div>
                    <div class="switch">
                        <label>
                          <input id="is_urgent" name="is_urgent" type="checkbox">
                          <span class="lever"></span>
                          Need Help?
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add Topic
                        <i class="material-icons right">playlist_add</i>
                     </button>
                </div>
            </form>
        </div>
    </div>
    
</div>    

{% endblock %}
