{% extends 'base.html' %}
{% block content %}

<div class="col 12 tab">
    <ul>
        <li><a href="{{url_for('get_tasks')}}">HOME</a></li>
        <li><a href="{{url_for('contact')}}">CONTACT US</a></li>
        <li><a href="{{url_for('get_tasks')}}">SHOP</a></li>
     </ul>
</div>

<div class="col 12 tab">
    
    <span>
        <ul>
            {% for topic in diagnostic %}
            <li>Title: {{task.title}}</li>
            <li>Description: {{task.desc_of_problem}}</li>
            <li>Work Performed: {{task.work_performed}}</li>
            <li>Fixed: {{task.fixed}}</li>
            <li>Need Help? {{task.need_help}}</li>
            {% endfor %}
        </ul>
    </span>
    
</div>

{% endblock %}